.modalspin {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) url('https://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

body {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}

body.loading .modalspin {
  overflow: hidden;
}
body.loading .modalspin {
  display: block;
}
